.homepage {
    width: 100%;
    border: 1px solid black;
    height: 1000px;
    padding: 0 !important;
}

.col-4,
.col-8 {
    padding: 0 !important;
}

.content {
    border: 1px solid green;
    height: 100%;
}